#bulk-edit-option
{
    display:none;
    z-index:100;
    background-color:#fff;
    width:80%;
    border:8px solid #ccc;
    border-radius:5px;
    position:fixed;
    top:50%;
    height:300px;
    margin-top:-150px;
    left:10%;
}
#bulk-edit-export
{
    display:none;
    z-index:100;
    background-color:#fff;
    width:60%;
    border:8px solid #ccc;
    border-radius:5px;
    position:fixed;
    top:50%;
    height:300px;
    margin-top:-150px;
    left:20%;
}
#bulk-edit-option-screen
{
    background-color: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99;
    filter:alpha(opacity=70);
}
#firstColumn
{
    width:19%;
    float:left;
    height:250px;
    margin-left:10px;
    margin-top:10px;
}
#postIDDiv
{
    overflow-y:scroll;
    height:250px;
}
#secondColumn, #thirdColumn, #fourthColumn
{
    width:19%;
    float:left;
    height:200px;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
}
#fifthColumn
{
    width:17%;
    float:left;
    height:250px;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
}
#categoryIDDiv, #customFieldsDiv, #countryIDDiv, #optionsDiv
{
    overflow-y:scroll;
    height:250px;
    text-align:left;
}
#customFieldsDiv input[type='text'], #customFieldsDiv select, #optionsDiv select
{
    width:95%;
}
#customFieldsDiv h4
{
    text-align:center;
    margin:0px 0px 5px 0px;
}
#firstColumnExport
{
    width:35%;
    float:left;
    height:250px;
    margin-left:10px;
    margin-top:10px;
}
#exportPostIDDiv, #exportPageIDDiv
{
    overflow-y:scroll;
    height:210px;
}
#secondColumnExport
{
    width:60%;
    float:left;
    height:250px;
    margin-left:10px;
    margin-top:10px;
}
#exportActionDiv
{
    text-align:left;
    height:150px;
}
#exportActionDiv table td
{
    width:50%;
}
#thirdColumnExport
{
    width:20%;
    float:left;
    height:250px;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
}
.exposrtbtns {
    text-align:right;
    margin-top:10px;
}